@import "compass/layout/sticky-footer";
@import "compass/utilities/general/clearfix";

@import "colors";
@import "mixins";

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

// Sticky Footer
@include sticky-footer(2em, ".content-wrapper", ".content-footer", ".site-footer");

// Clearfix
.clearfix {
	@include pie-clearfix;
}

// Buttons
.social-block {
	border: 2px solid $black;
	border-radius: 0.25em;

	div:first-of-type {
		height: 3.5em;
		text-align: center;
	}

	[class^="icon-"], [class*="icon-"] {
		font-size: 2.5em;
	}
}

// Misc.
.jumbotron_wrapper {
	margin-bottom: 3em;
	@include breakpoint(yoda) {
		margin-bottom: $pad;
	}
}

.jumbotron {
	overflow: visible;
	margin: 0;

	.title-wrapper {
		margin: 0 auto;
		padding-top: 2em;
		@include breakpoint(yoda) {
			padding-top: 0;
		}
	}

	.title {
		margin: 0;
	}

	.subtitle {
		margin-top: 0;
	}

	.title, .subtitle {
		transition: font-size 0.2s ease-out;
	}
}

.picture {
	width: 480px;
	@include breakpoint(yoda) {
		width: auto;
	}
}

.blog-posts {
	article {
		h2 {
			margin-top: 0;
			margin-bottom: 0.25em;
			text-align: center;
		}
		.time-wrapper {
			text-align: center;
		}
	}
}

.about-me, .announcement {
	padding: 1em;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.grid [class*='col-'].find-me {
	padding-right: 0.5em;
}

.site-footer {
	padding-top: 0.25em;
}
