// Common colors
$white: #eee;
$black: #000;
$greyDark: #333;
// Color palette from http://www.colourlovers.com/palette/482774/dream_magnet
$grey: #343838;
$blueLio: #005f6b;
$blueDeeper: #008c9e;
$blueDressed: #00b4cc;
$blueAqua: #00dffc;
// Brand colors
$twitterBlue: #4099ff;
