@font-face {
	font-family: 'billt2006';
	src:url('/font/billt2006.eot');
	src:url('/font/billt2006.eot?#iefix') format('embedded-opentype'),
		url('/font/billt2006.woff') format('woff'),
		url('/font/billt2006.ttf') format('truetype'),
		url('/font/billt2006.svg#billt2006') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'billt2006';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter, .icon-github, .icon-wv, .icon-codepen {
	font-family: 'billt2006';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\f099";
}
.icon-github:before {
	content: "\f113";
}
.icon-wv:before {
	content: "\77";
}
.icon-codepen:before {
	content: "\21";
}
