@mixin breakpoint($point) {
  @if $point == obiwan {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == luke {
    @media (max-width: 960px) { @content; }
  }
  @else if $point == yoda {
    @media (max-width: 640px)  { @content; }
  }
}

@mixin retina() {
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 2dppx),
		only screen and (                min-resolution: 192dpi) {
		   	@content;
	}
}

@mixin socialLink($color) {
  background: $color;
  border-color: darken($color, 20%);
  text-shadow: darken($color, 20%) 1px 1px 0;

  &:focus, &:hover {
    box-shadow: inset 0 0 2em darken($color, 20%);
  }

  &:active {
    background: darken($color, 20%);
    box-shadow: inset 0 0 2em $color;
  }
}
