@import "colors";
@import "mixins";

.resume {
	background: $white;
	box-shadow: 0 0 1em darken($grey, 20%);

	ul {
		list-style: square;
	}

	.contact {
		border-bottom: 0.75em solid $blueAqua;
		@include breakpoint(yoda) {
			border-bottom: none;
		}
	}

	.name {
		border-bottom: none;
		@include breakpoint(yoda) {
			border-bottom: 0.75em solid $blueAqua;
		}
	}

	.section-title {
		border-bottom: 0.25em solid $blueDeeper;
	}

	.date {
		color: $grey;
	}
}
