@import "colors";
@import "mixins";

.resume-wrapper {
	margin: 0;
}

.resume {
	padding: 0 1em;
	background: $white;
	box-shadow: 0 0 1em darken($grey, 20%);

	ul {
		margin: 0;
		list-style: square;
	}

	li {
		margin: 0.5em 0;
	}

	.objective,
	.work,
	.school {
		line-height: 1.6;
	}

	.company {
		line-height: normal;
	}

	.skills {
		.col-1-4:nth-of-type(2) {
			// Changes to the mobile grid cause the skills to not be cleared properly
			margin-bottom: 2em;
		}
	}

	.address {
		padding-top: 1em;
		@include breakpoint(yoda) {
			padding-top: 0;
		}
	}

	.title {
		margin-bottom: 0;
	}

	.subtitle {
		margin: 0;
	}

	.contact {
		border-bottom: 0.75em solid $blueAqua;
		@include breakpoint(yoda) {
			border-bottom: none;
		}
	}

	.name {
		border-bottom: none;
		@include breakpoint(yoda) {
			border-bottom: 0.75em solid $blueAqua;
		}
	}

	.section-title {
		margin-bottom: 0.5em;
		border-bottom: 0.25em solid $blueDeeper;
	}

	.date {
		color: $grey;
	}
}
