@import "colors";
@import "mixins";

body {
	background: url(/images/project_paper.png) repeat;
	@include retina() {
		background-image: url(/images/project_paper_@2X.png);
	}
	background-size: 105px 105px;
	color: $greyDark;
}

::selection {
	color: #fff;
	background: $blueDeeper;
}

a {
	color: $blueDeeper;
	font-weight: bold;
	text-decoration: none;
}

a:active, a:focus, a:hover {
	text-decoration: underline;
	color: $blueLio;
}

.jumbotron_wrapper {
	background: $blueDressed;
	border-bottom: 2px solid $blueLio;
	box-shadow: 0 0 1em darken($blueLio, 20%);
}

.jumbotron {
	.title, .subtitle {
		color: $black;
		text-shadow: 1px 1px 0 $blueAqua;
	}
}

.picture {
	transform: rotate(20deg);
	border: 2px solid $grey;
	border-radius: 0.25em 0.25em;
	box-shadow: 0 0 1em darken($grey, 20%);
	@include breakpoint(yoda) {
		padding: 0;
		transform: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
	}
}

.about-me {
	background: darken($white, 20%);
	background: rgba(darken($white, 20%), 0.6);
	border-radius: 0.5em 0.5em;
	@include breakpoint(yoda) {
		border-radius: 0 0;
	}
}

.social-block {
	&.twitter {
		color: $white;
		@include socialLink($twitterColor);
	}

	&.github {
		color: $black;
		@include socialLink($githubColor);
	}

	&.codepen {
		color: $white;
		@include socialLink($codepenColor);
	}

	&.linkedin {
		color: $white;
		@include socialLink($linkedinColor);
	}
}

.resume {
	background: $white;
	box-shadow: 0 0 1em darken($grey, 20%);

	ul {
		list-style: square;
	}

	.contact {
		border-bottom: 0.75em solid $blueAqua;
		@include breakpoint(yoda) {
			border-bottom: none;
		}
	}

	.name {
		border-bottom: none;
		@include breakpoint(yoda) {
			border-bottom: 0.75em solid $blueAqua;
		}
	}

	.section-title {
		border-bottom: 0.25em solid $blueDeeper;
	}

	.date {
		color: $grey;
	}
}

.site-footer {
	background: $grey;
	background: linear-gradient(to bottom, rgba($grey,0.5) 0%, $grey 100%);;
	color: $white;
	text-shadow: $black 1px 1px 0;
}
