---
layout: default
title: Bill Thornton | Web Developer
---

<div class="grid jumbotron_wrapper">
	<div class="col-1-8 spacer">&nbsp;</div>
	<div class="col-3-4">
		<div class="grid jumbotron">
			<div class="col-1-2">
				<div class="title-wrapper">
					<h1 class="title">Bill Thornton</h1>
					<h2 class="subtitle">Web Developer</h2>
				</div>
			</div>
			<div class="col-1-2">
				<img src="images/bill.jpg" class="picture"/>
			</div>
		</div>
	</div>
	<div class="col-1-8 spacer">&nbsp;</div>
</div>

<div class="grid">
	<div class="col-1-8 spacer">&nbsp;</div>
	<div class="col-3-4">
		{% include posts.html %}

		<div class="grid about-me">
			<p>
				I build websites in the mountains of West&nbsp;Virginia. Want to learn more?
				Check out my <a href="{{ site.url }}/resume/">resume</a>.
			</p>
		</div>

		{% include social.html %}
	</div>
	<div class="col-1-8 spacer">&nbsp;</div>
</div>
