<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    {% if page.external %}
    	<meta http-equiv="refresh" content="0;url={{ page.external.url }}">
    {% endif %}

    <title>{{ page.title }}</title>

	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">

    {% include google_tracking.html %}
</head>
